body {
    margin: 0;
}

.list {
    max-width: 25vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px;
}
#headers {
    height: 150px;
    padding: 5px;
    overflow: auto;
}
textarea {
    resize: vertical;
    max-height: 150px;
}